

.nav-link
{
  font-size: 20px;
}
.navbar-find
{
  position: relative;
  width: 215px;
  top: 20px; 
  border-width: 1px;
  border-color: #000000;
}
.pro-input
{
  width: 150px; 
  border-width: 1px;
  border-color: #000000;
}
  
.item
{
  border-radius: 20px; 
}
.item:hover
{
  background-color: #fff700; 
  border-radius: 20px; 
}
.crest
{
  position: absolute;
  right: 10px;
}
.calend
{
  width: 170px;
 margin-right: 10px;
}
.delete
{
  margin-top: 2px;
  text-align: right;
}
.save
{
  margin-top: 2px;
  text-align: right;
}
.redact
{
  max-width: 450px;
  top: 100px; 
}
.drop-menu
{
  top: -40px;
}
.progress
{
  position: relative;
  top: -30px;
  left: 30px;
  z-index: 99;
}
.fire
{
  position: relative;
  top: 0px;
  left: 20px;
  z-index: 100;
  
}


.my-alert 
{
  width: 230px;
  border: 3px solid rgb(203, 203, 203);
}

.pro
{
  position: relative;
  left: 100px;
  top: 15px;
  font-size: 25px;
}
.gender
{
  border-color: #000000;
}
.gender:hover
{
  border-color: #000000;
}
.btn-calend
{
  min-width: 150px;
  max-width: 150px;
  visibility: invisible;

}
.center
{
  display: flex;
  justify-content: center;
}
.trash
{
  margin-top: 2px;
 
  
}
.new-teg-text
{
  position: relative;
  top: 3px;
  width: 80px;
  border: 1px solid black;
}
.teleg
{
  margin: 100px;
}

.add
{
  position: relative;
  top: -28px;
  left: 90px;
  width: 25px;
  height: 25px;
}
.cancel
{
  position: relative;
  left: 120px;
  top:-53px;
  width: 25px;
  height: 25px;
}

.new-teg
{
  display: none;
  width: 500px;
  height: 37px;
  position: relative;
  left: 10px
  
}
.btn-trash
{
  min-width: 150px;
  max-width: 150px;
}
.btn-save-pro
{
  width: 100px;
}
.achive
{
  max-width: 400px;
  
}
.ava
{
  width: 100px;
  height: 80px;
}
.priv
{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 150px;
}

.btn-delete-h
{
  text-align: right;
}


.table-priv
{
  max-width: 700px;
  text-align: center;
}


.avatar
{
  position: relative;
 left: 10px;
}
.round
{
  border-radius: 50%;
}
.basket
{
  
  font-size: 30px;
}
.btn-basket-all-p
{
  
  text-align: right;
}

.navbar-default {
  
  margin-left: 200px;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 1000;
}
.btn-menu
{
  width: 80px;
  height: 100px;
  border-radius: 5% 100%  100%  2%;
  background-color: #f6f6f6;
  top: -10px;
  z-index: 1000;
}
.btn-box
{
  border-color: #000000;
}

/*main side bar*/
.msb {
  width: 200px;
  background-color: #f6f6f6;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  border-right: 1px solid #ddd;
  z-index: 1000;
  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
  }
  .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: #fff;
  }
  
  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }
    li {
      display: block;
      width: 100%;
      a {
        padding: 15px;
        color: #d5d5d5;
        .glyphicon, .fa {
          margin-right: 8px;
        }
      }
    }
  }
  
     
  


/*main content wrapper*/
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  
  /*content view*/
  
}
}
/*globals*/



  
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {    
    li {
      list-style: none;
      a {
        display: block;
        padding: 10px 20px;
      }
    }
  }

.msb, .mnb {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;  
}
.mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;  
}
body.msb-x {

  .mcw, .mnb {
    margin-left: 0;
-moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .msb {
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }

  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      margin-left: 200px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left:0
    }
  }
  @keyframes bodyslidein {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 200px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-left: 0;
    }
  }