body
{
  
  width: 80%;
  max-width: 1000px;

}

.nav-link
{
  font-size: 20px;
}
.navbar-find
{
  
  position: absolute;
  width: 200px;
  top: 20px; 
  left: 270px;
  border-width: 2px;
  border-color: #000000;
}
.item:hover
{
  background-color: #fff700;  
}
.crest
{
  position: absolute;
  right: 10px;
}
.calend
{
 margin-right: 10px;
}
.delete
{
  margin-top: 5px;
  margin-right: 10px;
}
.save
{
  margin-top: 5px;
  margin-right: 10px;
}
.redact
{
  width: 60%;
  max-width: 440px;
  position: relative;
  top: 100px; left: 150px;
}
.progress
{
  width: 30%;
  position: absolute;
  top: 50px; 
  left: 48%;
  
}
.fire
{

  position: absolute;
  top: 15px; left: 47%;
  z-index: 100;
  
}
.btn-filitr
{
  position: relative;
  top: 80px; 
  left: 270px;
}
.btn-teg
{
  
  position: relative;
  top: 42px; 
  left: 400px;
}
.btn-add
{
  position: relative;
  top: 5px; left: 470px;
}

.my-alert 
{
  
  width: 230px;
  height: 150px;
 left: 25%;
  margin: 10px;
  border: 3px solid rgb(203, 203, 203);
  
 
  
}
.row {
  
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
}


     

.my-btn:hover
{
  background-color: rgb(226, 222, 0);
  border-color: rgb(226, 222, 0);
  tansition: all .3s linear;
    	-webkit-transition: all .3s linear;
    	-moz-transition: all .3s linear
}


.navbar-default {
  
  margin-left: 200px;
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 1000;
}
.btn-menu
{
  width: 80px;
  height: 100px;
  border-radius: 5% 100%  100%  2%;
  background-color: #d0d0d0;
  top: -10px;
  z-index: 1000;
}
.btn-box
{
  border-color: #000000;
}


/*main side bar*/
.msb {
  width: 200px;
  background-color: #d0d0d0;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  min-height: 100%;
  overflow-y: auto;
  white-space: nowrap;
  height: 100%;
  border-right: 1px solid #ddd;
  z-index: 1000;
  .navbar {
    border: none;
    margin-left: 0;
    background-color: inherit;
  }
  .navbar-header {
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 20px;
    background: #fff;
  }
  .navbar-nav {
    .panel {
      border: 0 none;
      box-shadow: none;
      margin: 0;
      background: inherit;
    }
    li {
      display: block;
      width: 100%;
      a {
        padding: 15px;
        color: #d5d5d5;
        .glyphicon, .fa {
          margin-right: 8px;
        }
      }
    }
  }
  
     
  


/*main content wrapper*/
.mcw {
  margin-left: 200px;
  position: relative;
  min-height: 100%;
  
  /*content view*/
  
}
}
/*globals*/



  
  ul, li {
    margin: 0;
    padding: 0;
  }
  ul {    
    li {
      list-style: none;
      a {
        display: block;
        padding: 10px 20px;
      }
    }
  }

.msb, .mnb {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;  
}
.mcw {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;  
}
body.msb-x {

  .mcw, .mnb {
    margin-left: 0;
-moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .msb {
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
}

  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes slidein {
    0% {
      left: -200px;
    }
    100% {
      left: 0;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -200px;
    }
  }

  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      margin-left: 200px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left:0
    }
  }
  @keyframes bodyslidein {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: 200px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-right: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      margin-left: 200px;
    }
    100% {
      margin-left: 0;
    }
  }